.hidden {
    display: none;
}

.game-section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

#gameArea {
  width: 60%;
  height: 100%;
  background-color: #34495e;
  overflow: hidden;
  position: relative;
}

#gameArea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  pointer-events: none; 
  z-index: -1; 
}

#gameArea.mining-bg::after, 
#gameArea.research-bg::after, 
#gameArea.manufacturing-bg::after, 
#gameArea.trade-bg::after, 
#gameArea.other4-bg::after, 
#gameArea.other5-bg::after, 
#gameArea.other6-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity */
  z-index: 0; /* Ensure it's behind the buttons */
}

#miningSection {
    background-image: url('assets/images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#researchSection {
    background-image: url('assets/images/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#manufacturingSection {
    background-image: url('assets/images/background3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mining-button, .game-button, {
  width: 22%;
  height: 100px;
  margin: 1%;
  padding: 10px;
  background-color: #444;
  border: 2px solid #666;
  color: white;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  position: relative; /* Ensure it's above the overlay */
  z-index: 1; /* Ensure buttons are on top */
}

.mining-button:hover, .game-button:hover, {
  border-color: #fff;
}