#mainMenu {
  border: 1px solid #555;
  width: 20%;
  margin-top: -1px;
  background-color: black !important;
  height: 100%; /* Make it full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Space out content to top and bottom */
  padding-top: 10px;
}

.menu-buttons-container {
  flex-grow: 1; /* Allow it to grow to fill space */
  margin-top: -1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black !important; /* Ensure background color stays black */
}

.menu-button {
  background-image: url('./assets/images/PNG/Button03.png');
  background-size: auto;
  background-repeat: no-repeat;
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.menu-button:hover {
  color: #16a085;
  background-image: url('./assets/images/PNG/Button04.png');
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.menu-button:hover .tooltip {
  visibility: visible;
}

#logSection {
  width: 100%; /* Match the width of the main menu */
  background-color: black !important;
  color: white;
  border-top: 1px solid #555;
  padding: 10px;
  height: 30%; /* Adjust height to 50% */
  flex-shrink: 0; /* Prevent it from shrinking */
  overflow-y: auto;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.log-entry {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace; /* Matrix-style font */
  font-size: 12px; /* Adjust size as needed */
  color: green;
}

#logSection::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

#logSection::-webkit-scrollbar-track {
  background: #333; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

#logSection::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #333; /* Padding around the thumb */
}

#logSection::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color when hovered */
}