body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#header, #footer {
    border: 1px solid white; /* Přidání bílého okraje */
    padding: 5px; /* Přidání polštáře pro lepší vzhled */
    background-color: #000000;
    color: white;
    text-align: center;
    flex-shrink: 0;
}

#mainContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#mainMenu {
    border: 1px solid white; /* Přidání bílého okraje */
    width: 20%;
    background-color: #002000;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#infoPanel {
    width: 20%;
    background-color: #002000;
    height: 100%;
    color: white;
    padding: 10px;
}

.menu-button {
    background-image: url('../assets/images/PNG/Button03.png');
    background-size: auto; /* Nastavení velikosti obrázku */
    background-repeat: no-repeat;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.menu-button:hover {
    color: #16a085;
    background-image: url('../assets/images/PNG/Button04.png');
}



#miningSection.active,
#researchSection.active,
#manufacturingSection.active,
#trade3Section.active,
#other4Section.active,
#other5Section.active,
#other6Section.active {
    display: block;
}

#gameArea.mining-bg {
    background-image: url('assets/images/background1.jpg');
}

#gameArea.research-bg {
    background-image: url('assets/images/background2.jpg');
opacity: 0.8;
    filter: brightness(50%) contrast(50%);
}

#gameArea.manufacturing-bg {
    background-image: url('assets/images/background3.jpg');
}

#gameArea.trade-bg {
    background-image: url('assets/images/background4.jpg');
}

#gameArea.other4-bg {
    background-image: url('assets/images/background5.jpg');
}

#gameArea.other5-bg {
    background-image: url('assets/images/background1.jpg');
}

#gameArea.other6-bg {
    background-image: url('assets/images/background1.jpg');
}

#gameArea {
    width: 60%;
    height: 100%;
    background-color: #34495e;
    overflow: hidden;
    position: relative;
}

.game-button {
    width: 22%; /* Tlačítka budou mít 22% šířky herní sekce */
    height: 100px; /* Fixní výška tlačítka */
    margin: 1%; /* Malý mezery mezi tlačítky */
    padding: 10px;
    background-color: #444; /* Základní barva tlačítka */
    border: 2px solid #666; /* Rámeček tlačítka */
    color: white;
    text-align: center;
    line-height: 80px; /* Vertikální centrování textu */
    cursor: pointer;
}

.game-button:hover {
    border-color: #fff; /* Změna barvy rámečku při najetí myší */
}

.info-section {
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.resource-info {
    margin-bottom: 20px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    display: block; 
}

#miningSection {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    flex-wrap: wrap;
    height: 100%;             /* Ensure it takes up the full height */
    position: relative;       /* Necessary for absolute positioning */
}

.mining-button {
    margin: 10px;             /* Space between buttons */
    width: 200px;             /* Button width */
    height: 50px;             /* Button height */
    display: flex;
    justify-content: center;  /* Center text horizontally */
    align-items: center;      /* Center text vertically */
}

.mining-button:hover {
    background-color: #555;
}

