#researchSection {
  padding: 20px;
  color: white;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.progress-bar-wrapper {
  width: 100%;
  height: 20px;
  background-color: #555; /* Background color of the unfilled part */
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #2e8b57; /* Darker shade of green */
  transition: width 0.6s linear;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 35px; /* Set a fixed height */
}

.progress-text {
  margin: 0;
  color: white;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px; /* Adjust padding to fit better */
  font-size: 12px;
  cursor: pointer;
  display: none;
  z-index: 1;
  flex: 0 0 auto;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.tab-container {
  display: flex;
  justify-content: flex-start;  /* Center the tabs horizontally */
  margin-bottom: 20px;
}

.tab {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center; /* Center text within tabs */
  margin: 0 5px; /* Space out tabs */
  z-index: 1;
}

.tab.active {
  background-color: green;
}

.tech-container {
  display: none;
  flex-wrap: wrap; /* Allow wrapping to new lines */
  justify-content: flex-start; /* Align items to the start (left) */
  gap: 10px; /* Add some space between buttons */
  background-color: #000;
}

.tech-container.active {
  display: flex; /* Ensure flex display is active */
}

.tech-button {
  margin: 5px;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 auto; /* Prevent buttons from stretching */
  display: inline-block; /* Ensure buttons line up nicely */
  z-index: 1;
}

.tech-button:hover {
  background-color: #16a085;
}

