#researchSection {
  padding: 20px;
  color: white;
}

.progress-bar-container {
    position: relative;
    width: 100%;
}

.progress-bar-wrapper {
    position: relative;
    width: 100%;
    background-color: #555;
    height: 30px;
}

.progress-bar {
    height: 100%;
    background-color: #1abc9c;
    width: 0;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 35px; /* Set a fixed height */
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
}

.cancel-button {
    position: absolute;
    top: 50%;
    right: 10px; /* Umístí tlačítko vpravo */
    transform: translateY(-50%);
    z-index: 3;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.tab-container {
  display: flex;
  justify-content: flex-start; /* Align tabs to the left */
  margin-bottom: 10px;
  position: relative;  /* Needed for the bookmark effect */
  z-index: 1;
}

.tab {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center; /* Center text within tabs */
  margin: 0 5px; /* Space out tabs */
  z-index: 1;
  position: relative; /* Needed for the bookmark effect */
  top: 5px; /* Move the tab 10px up */
  box-shadow: 0 0 10px 0 #333;
}

.tab.active {
  background-color: green;
  top: 0; /* Reset the top position for the active tab */
  z-index: 2; /* Ensure the active tab is on top */
  box-shadow: 0 0 10px 0 #555;
}

.tech-container {
  height: 40%;
  display: none; /* Hide by default */
  flex-wrap: wrap; /* Allow wrapping to new lines */
  justify-content: flex-start; /* Align items to the start (left) */
  gap: 10px; /* Add some space between buttons */
  background-color: #000; /* Match active tab background color */
  padding: 10px;
  z-index: 1;
}

.tech-container.active {
  display: flex; /* Show only active tech containers */
}

.tech-button {
  margin: 5px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px; /* Set fixed height to fit five buttons */
  font-size: 12px; /* Adjust font size for smaller buttons */
  display: flex; /* Enable flexbox alignment */
  z-index: 1; /* Ensure it’s clickable */
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
}

.tech-button:hover {
  background-color: #16a085;
}

