#researchSection {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
	box-sizing: border-box;
	justify-content: flex-start;
}

.research-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin-top: 15%; /* Adjust this value to move it down */
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: black;
    margin-bottom: 20px;
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */
}

.progress-bar {
    height: 100%;
    background-color: #90EE90;
    width: 0;
    transition: width 0.5s ease-in-out;
}

.progress-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.progress-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.cancel-button {
    background-color: #e74c3c; /* A distinct red button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px; /* Push it down from the progress bar */
    align-self: flex-end; /* Align it to the right */
}

.cancel-button:hover {
    background-color: #c0392b;
}

.tab-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.tab {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
}

.tab.active {
    background-color: #90EE90;
}

.tech-container {
    flex-grow: 1;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    background-color: #000;
    padding: 10px;
	box-sizing: border-box;
    display: none; /* This controls visibility */
}

.tech-container.active {
    display: flex; /* This makes it visible and a flex container */
}

.tech-button {
    margin: 0px;
    padding: 10px;
    background-color: #90EE90;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.tech-button:hover {
    background-color: #16a085;
}